@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Head Race Timing</title>

    
    <link rel="stylesheet" href="~/dist/site.css"/>
    @Html.Raw(JavaScriptSnippet.FullScript)
    <link rel="shortcut icon" href="~/favicon.ico">
    <script src="~/lib/webcomponentsjs/webcomponents-loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="~/lib/paper-card/paper-card.html">
    <link rel="import" href="~/lib/paper-listbox/paper-listbox.html" />
    <link rel="import" href="~/lib/paper-item/paper-item.html" />
    <link rel="import" href="~/lib/paper-input/paper-input.html" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    @RenderSection("imports", required: false)
    @if (IsSectionDefined("titleStyle"))
    {
        @RenderSection("titleStyle", required: false)
    }
    else
    {
        <style>
            app-header {
                background-color: #00897B;
                color: #fff;
            }
        </style>
    }

    <custom-style>
        <style is="custom-style">
            body, .card-table th {
                @@apply(--paper-font-body1);
            }

            paper-card h2 {
                @@apply(--paper-font-title);
            }

            #searchBox {
                @@apply(--layout-flex);
                --paper-input-container-color: white;
                --paper-input-container-input-color: white;
                --paper-input-container-underline: {
                    display: none;
                };
                --paper-input-container-underline-focus: {
                    display: none;
                };
                --paper-input-container-underline-disabled: {
                    display: none;
                };
                --paper-input-container-input: {
                    font-size: 20px;
                }
            }

            .card-table td {
                @@apply(--paper-font-body2);
            }
        </style>
    </custom-style>
</head>
<body class="mdc-typography">
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            @if (IsSectionDefined("titlebar"))
            {
                @RenderSection("titlebar", required: false)
            }
            else
            {
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
                    <span class="mdc-top-app-bar__title">@ViewData["Title"]</span>
                </section>
            }
        </div>
    </header>
    <div class="mdc-top-app-bar--fixed-adjust">
        @RenderBody()
    </div>
        <script src="~/dist/site.js" type="module" async></script>
        @RenderSection("scripts", required: false)
</body>
</html>
