@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Head Race Timing</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
    <script src="~/lib/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="~/lib/polymer/polymer.html">
    <link rel="import" href="~/lib/polymer/polymer-element.html">
    <link rel="import" href="~/lib/paper-styles/typography.html">
    <link rel="import" href="~/lib/app-layout/app-layout.html">
    <link rel="import" href="~/lib/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="~/lib/iron-icons/iron-icons.html">
    <link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="~/lib/paper-card/paper-card.html">
    <link rel="import" href="~/components/results-list.html" />
    <link rel="import" href="~/components/crew-results-list.html" />
    <link rel="import" href="~/components/timingpoint-results-list.html" />
    <link rel="import" href="~/lib/paper-listbox/paper-listbox.html" />
    <link rel="import" href="~/lib/paper-item/paper-item.html" />
    <link rel="import" href="~/lib/paper-button/paper-button.html" />
    <link rel="import" href="~/lib/iron-form/iron-form.html" />
    <link rel="import" href="~/lib/paper-input/paper-input.html" />
    <custom-style>
        <style is="custom-style">
            body {
                @@apply(--paper-font-body1);
            }

            app-header {
                background-color: #00897B;
                color: #fff;
            }

            .bodyDetails {
                margin-left: 24px;
                margin-right: 24px;
                margin-top: 24px;
            }
            paper-card {
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 24px;
                margin-bottom: 16px;
                margin-right: 16px;
            }
            .competitionCard {
                margin-top: 16px;
                margin-left: 16px;
                margin-right: 16px;
                width: 250px;
                cursor: pointer;
            }
            paper-card h2 {
                @@apply(--paper-font-title);
            }
            paper-card table {
                width: 100%;
            }
            paper-card tr, paper-card td {
                border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
            }
            paper-card th {
                text-align: left;
            }
            .search {
                @@apply(--layout-horizontal);
                display: none;
            }
            .flexChild {
                @@apply(--layout-flex);
            }
            app-drawer-layout:not([narrow]) [drawer-toggle] {
                display: none;
            }
            paper-item {
                color: #666;
                cursor: pointer;
            }
            .card-table {
                padding-left: 0px;
                padding-right: 0px;
            }
            .card-table .card-content {
                padding-left: 0px;
                padding-right: 0px;
            }
            .card-table table {
                border-spacing: 0px;
                border-collapse: collapse;
            }
            .card-table td {
                @@apply(--paper-font-body2);
            }
            .card-table th {
                @@apply(--paper-font-body1);
            }
            .card-table tr, .card-table td {
                border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
            }
            .card-table tr {
                height: 48px;
            }
            .card-table td, th {
                text-align:left;
                padding-left: 56px;
            }
            .card-table td:first-child, .card-table th:first-child {
                padding-left: 24px;
            }
            .card-table td:last-child, .card-table th:last-child {
                padding-right: 24px;
            }
            app-drawer paper-item:first-child {
                margin-top: 64px;
            }
        </style>
    </custom-style>
</head>
<body>
    <app-drawer-layout fullbleed>
        <app-header-layout>

            <app-header slot="header" reveals>
                <app-toolbar>
                    @if (IsSectionDefined("titleBar"))
                    {
                        @RenderSection("titleBar", required: false)
                    }
                    else
                    {
                        <div main-title>@ViewData["Title"]</div>
                    }
                </app-toolbar>
            </app-header>

            @RenderBody()

            

        </app-header-layout>
        <app-drawer slot="drawer">
            @await Html.PartialAsync("_LoginPartial")
        </app-drawer></app-drawer-layout>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
