@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Head Race Timing</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
    <link rel="shortcut icon" href="~/favicon.ico">
    <script src="~/lib/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="~/lib/polymer/polymer.html">
    <link rel="import" href="~/lib/polymer/polymer-element.html">
    <link rel="import" href="~/lib/paper-styles/typography.html">
    <link rel="import" href="~/lib/app-layout/app-layout.html">
    <link rel="import" href="~/lib/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="~/lib/iron-icons/iron-icons.html">
    <link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="~/lib/paper-card/paper-card.html">
    <link rel="import" href="~/components/results-list.html" />
    <link rel="import" href="~/components/crew-results-list.html" />
    <link rel="import" href="~/components/timingpoint-results-list.html" />
    <link rel="import" href="~/lib/paper-listbox/paper-listbox.html" />
    <link rel="import" href="~/lib/paper-item/paper-item.html" />
    <link rel="import" href="~/lib/paper-item/paper-icon-item.html" />
    <link rel="import" href="~/lib/paper-button/paper-button.html" />
    <link rel="import" href="~/lib/iron-form/iron-form.html" />
    <link rel="import" href="~/lib/paper-input/paper-input.html" />
    @if (IsSectionDefined("titleStyle"))
    {
        @RenderSection("titleStyle", required: false)
    }
    else
    {
        <style>
            app-header {
                background-color: #00897B;
                color: #fff;
            }
        </style>
    }

    <custom-style>
        <style is="custom-style">
            body, .card-table th {
                @@apply(--paper-font-body1);
            }

            paper-card h2 {
                @@apply(--paper-font-title);
            }

            #searchBox {
                @@apply(--layout-flex);
                --paper-input-container-color: white;
                --paper-input-container-input-color: white;
                --paper-input-container-underline: {
                    display: none;
                };
                --paper-input-container-underline-focus: {
                    display: none;
                };
                --paper-input-container-underline-disabled: {
                    display: none;
                };
                --paper-input-container-input: {
                    font-size: 20px;
                }
            }

            .card-table td {
                @@apply(--paper-font-body2);
            }
        </style>
    </custom-style>
</head>
<body>
    <dom-bind>
        <template>
            <app-header-layout>

                <app-header slot="header" reveals>
                    <app-toolbar>
                        @if (IsSectionDefined("titleBar"))
                        {
                            @RenderSection("titleBar", required: false)
                        }
                        else
                        {
                            <div main-title>@ViewData["Title"]</div>
                        }
                    </app-toolbar>
                </app-header>

                @RenderBody()
            </app-header-layout>
        </template>
    </dom-bind>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
