@model HeadRaceTimingSite.Models.Crew
@{
    ViewData["Title"] = Model.Name;
    ViewData["TitleColor"] = Model.Competition.BackgroundHtmlColor;
}

@section imports {
    <link rel="import" href="~/components/crew-results-list.html" />
    <link rel="import" href="~/lib/iron-media-query/iron-media-query.html" />
}

<iron-media-query query="max-width: 600px" query-matches="{{narrow}}"></iron-media-query>

<div class="bodyDetails">
    <paper-card heading="Crew Details">
        <div class="card-content">
            <div>@Model.Name</div>
            <div>Start Number: @Model.StartNumber</div>
            <div>CRI Max: @Model.CriMax</div>
            <div><h2>Pennants Entered:</h2>
                <ul>
                    @foreach (var award in Model.Awards)
                    {
                        <li>@award.Award.Title</li>
                    }
                </ul>
            </div>
        </div>
        <div class="card-image" @if (!String.IsNullOrEmpty(Model.ClubCode)) { <text> style="background-image:url('http://www.britishrowing.org/sites/all/themes/britishrowing/images/blades/</text>@Model.ClubCode.ToLower()<text>.gif')" </text> }></div>
    </paper-card>

    <paper-card class="card-table" heading="Athletes">
        <div class="card-content">
            <table>
                <thead>
                    <tr><th>Seat</th><th>Name</th><th hidden$="[[narrow]]">PRI</th><th hidden$="[[narrow]]">PRIMax</th></tr>
                </thead>
                <tbody>
                    @foreach (var athlete in Model.Athletes.OrderBy(x => x.Position))
                    {
                        <tr>
                            <td>@athlete.PositionDescription</td>
                            <td>@athlete.Athlete.FirstName @athlete.Athlete.LastName</td>
                            <td hidden$="[[narrow]]">@athlete.Pri</td>
                            <td hidden$="[[narrow]]">@athlete.PriMax</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </paper-card>

    <paper-card class="card-table" heading="Section Times">
        <div class="card-content">
            <crew-results-list crew-id="@Model.CrewId"></crew-results-list>
        </div>
    </paper-card>
</div>

@section titleStyle{
    <style>
        app-header {
            background-color: #@ViewData["TitleColor"];
            color: #fff;
        }
    </style>
}