@model HeadRaceTimingSite.ViewModels.CompetitionDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

@section imports {
    <link rel="import" href="~/components/results-list.html" />
    <link rel="import" href="~/lib/paper-dialog/paper-dialog.html" />
    <link rel="import" href="~/lib/app-route/app-location.html" />
    <link rel="import" href="~/lib/app-route/app-route.html" />
    <script src="~/lib/web-animations-js/web-animations-next-lite.min.js"></script>
    <link rel="import" href="~/lib/paper-menu-button/paper-menu-button.html" />
}

@section titleBar{
    <div main-title>
        @Model.Name - [[awardName(awardId)]]
        <paper-menu-button>
            <paper-icon-button icon="arrow-drop-down" slot="dropdown-trigger"></paper-icon-button>
            <paper-listbox attr-for-selected="award-id" selected="{{awardId}}" slot="dropdown-content">
                <paper-item award-id="">Overall</paper-item>
                <template is="dom-repeat" items="{{menuItems}}">
                    <paper-item award-id="{{item.awardId}}">{{item.name}}</paper-item>
                </template>
            </paper-listbox>
        </paper-menu-button>
    </div>
    <paper-icon-button icon="search" id="searchButton"></paper-icon-button>
    <paper-icon-button icon="cloud-download" id="downloadButton"></paper-icon-button>
    <paper-icon-button onclick="dialog.open()" icon="info" id="infoButton"></paper-icon-button>
    <paper-icon-button class="searchTools" icon="arrow-back" id="backButton"></paper-icon-button>
    <paper-input class="searchTools" id="searchBox" value="{{subrouteData.searchValue}}" no-label-float="true"></paper-input>
}

@section titleStyle{
    <style>
        app-header {
            background-color: #@Model.BackgroundHtmlColor;
            color: #fff;
        }
    </style>
}

<app-location route="{{route}}"></app-location>
<app-route route="{{route}}" pattern="/Competition/Details/:page" data="{{data}}" tail="{{subroute}}"></app-route>
<app-route route="{{subroute}}" auto-activate pattern="/:searchValue" data="{{subrouteData}}"></app-route>

<results-list competition-id="@Model.CompetitionId" first-intermediate-name="@Model.FirstIntermediateName"
              second-intermediate-name="@Model.SecondIntermediateName" search-value="{{subrouteData.searchValue}}"
              first-intermediate-id="@Model.FirstIntermediateId" second-intermediate-id="@Model.SecondIntermediateId" award-id="[[awardId]]"></results-list>

<paper-dialog id="dialog">
    <h2>Information</h2>

    @Model.DialogInformation

    <p>Crew lists may not show recent substitutions as these do not update automatically.</p>
</paper-dialog>

@section scripts {
    <script>
        var autobind = document.querySelector('dom-bind');

        autobind.menuItems = [
            @foreach (var award in Model.Awards) {
                <text>{ name: '</text>@award.Title<text>', awardId: </text>@award.AwardId<text>},</text>
            }
        ];

            autobind.awardName = function (awardId) {
                for (var i = 0; i < autobind.menuItems.length; i++) {
                    if (autobind.menuItems[i].awardId == awardId) {
                        return autobind.menuItems[i].name;
                    }
                }
                return 'Overall';
            };

            autobind.awardId = '';

            window.addEventListener('WebComponentsReady', function (e) {
                document.querySelector("#searchButton").addEventListener("click", function (e) {
                $("#searchButton").css("display", "none");
                $("#downloadButton").css("display", "none");
                $("#infoButton").css("display", "none");
                $("#backButton").css("display", "block");
                $("#searchBox").css("display", "block");
                $("#searchBox").focus();
                $("[main-title]").css("display", "none");
                });
                document.querySelector("#backButton").addEventListener("click", function (e) {
                $("#searchButton").css("display", "inline-block");
                $("#downloadButton").css("display", "inline-block");
                $("#infoButton").css("display", "inline-block");
                $("#backButton").css("display", "none");
                $("#searchBox").css("display", "none");
                $("[main-title]").css("display", "block");
                });

                document.querySelector("#downloadButton").addEventListener("click", function (e) {
                    location.href = '/Competition/DetailsAsCsv/@Model.CompetitionId'
                });
                document.getElementById("searchBox").addEventListener('value-changed', function () {
                    var appRoute = document.getElementsByTagName('app-route')[0].route;
                    if (appRoute.path.slice(-1) !== '/') {
                        appRoute.path = appRoute.path + '/';
                    }
                });
            });
        $(window).scroll(function () {
                sessionStorage.scrollTop = $(this).scrollTop();
            });
            document.querySelector('results-list').addEventListener('update', function (e) {
                if (sessionStorage.scrollTop != "undefined") {
                $(window).scrollTop(sessionStorage.scrollTop);
                }
            });
    </script>
}