@using HeadRaceTimingSite.Models
@model IEnumerable<Competition>
@{
    ViewData["Title"] = "Home Page";
}

<div class="bodyDetails">
    @foreach (var item in Model)
    {
        @if (String.IsNullOrEmpty(item.ImageUriText))
        {
            <div class="mdc-card competitionCard" style="background-color: #@item.BackgroundHtmlColor" data-competition-id="@item.FriendlyName">
                <div class="mdc-typography--headline6" style="color: #@item.TextHtmlColor">@item.Name</div>
            </div>
        }
        else
        {
            <div class="mdc-card competitionCard" style="background-color: #@item.BackgroundHtmlColor" data-competition-id="@item.FriendlyName">
                <div class="mdc-card__media">
                    <div class="mdc-card__media-content mdc-typography--headline6" style="color: #@item.TextHtmlColor">@item.Name</div>
                </div>
            </div>

            <paper-card data-competition-id="@item.FriendlyName" class="competitionCard" image="@item.ImageUriText" style="--paper-card-background-color: #@item.BackgroundHtmlColor">
                <div class="card-content" style="color:#@item.TextHtmlColor">@item.Name</div>
            </paper-card>
        }
    }
</div>

@section scripts{
    <script>
        window.addEventListener('WebComponentsReady', function (e) {
            document.querySelectorAll(".competitionCard").forEach(function (element) {
                element.addEventListener("click", function (e) {
                    location.href = '/Competition/Details/' + e.target.getAttribute("data-competition-id");
                });
            })
        });
    </script>
}