@using HeadRaceTimingSite.Models
@model IEnumerable<Competition>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    @if (String.IsNullOrEmpty(item.ImageUriText)) {
        <paper-card data-competition-id="@item.FriendlyName" class="competitionCard" heading="@item.Name" style="--paper-card-background-color: #@item.BackgroundHtmlColor; --paper-card-header-color: #@item.TextHtmlColor">

        </paper-card>
    }
    else
    {
        <paper-card data-competition-id="@item.FriendlyName" class="competitionCard" image="@item.ImageUriText" style="--paper-card-background-color: #@item.BackgroundHtmlColor">
            <div class="card-content" style="color:#@item.TextHtmlColor">@item.Name</div>
        </paper-card>
    }
}

@section scripts{
    <script>
        window.addEventListener('WebComponentsReady', function (e) {
            document.querySelectorAll("paper-card").forEach(function (element) {
                element.addEventListener("click", function (e) {
                    location.href = '/Competition/Details/' + e.target.getAttribute("data-competition-id");
                });
            })
        });
    </script>
}